@model N7.Models.AppTheme
@{
    ViewBag.Title = "Collection Themes";
}

<h2>Collection themes:</h2>
<table class="table">
    @foreach (var theme in ViewBag.AppThemes)
    {
        <tr>
            <td>@theme.Name</td>
            <td>
                <form asp-action="DeleteAppTheme" asp-route-id="@theme.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>



<form asp-action="CreateAppTheme" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>


<a asp-action="CreateAppTheme">Add theme</a>
